/* Reveal.css */
.reveal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff; /* Set your background color */
    z-index: 9999; /* Set a high z-index to overlay everything */
    opacity: 1; /* Set the initial opacity to 1 */
    transition: opacity 0.5s ease-in-out; /* Add a smooth transition */
  }
  