.marquee__part {
  flex-shrink: 0;
  padding: 0 4px;
  font-smooth: always;
}

.marquee {
  color: #eee;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.4rem;
  padding: 10px 0;
  position: absolute;
  left: 0;
  bottom: 5rem;
  /* transform: rotate(3deg); */
  overflow: hidden;
}

.marquee__inner {
  -webkit-font-smoothing: antialiased;
  width: fit-content;
  display: flex;
  flex: auto;
  flex-direction: row;
}

.spacer {
  height: 50px;
}
